<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log Dashboard</title>
</head>
<body style=" text-align:center ">
<h1>Logs information </h1>
<br>
{% for item in log_counts %}
    <table border="1px solid black" style="display:inline-block">
        <h2>Log {{ item }} (Total: {{ log_counts[item] }})</h2>
      <tr>
        <th>Log Status</th>
        <th>Messages</th>
        <th>Date</th>
      </tr>
        {% for data in log_data[item] %}
      <tr>
        <td width="150px">Log {{ item }} </td>
        <td width="700px">{{ data[1] }}</td>
        <td width="250px">{{ data[0] }}</td>
      </tr>
        {% endfor %}
    </table>
{% endfor %}
</body>
</html>